<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
        <span>OffiRent</span>
        <span class="default-spacer"></span>
        <div>
            <a mat-flat-button color="primary" routerLink="/" routerLinkActive="active">Home</a>
            <a mat-flat-button color="primary" routerLink="/my-offices" routerLinkActive="active">Mis Oficinas</a>
            <a mat-flat-button color="primary" routerLink="/profile" routerLinkActive="active">Perfil</a>
            <a mat-flat-button color="primary" routerLink="/workplaces" routerLinkActive="active">Areas de trabajo</a>
            <a mat-flat-button color="primary" routerLink="/my-reservations" routerLinkActive="active">reservaciones</a>
            <a mat-flat-button color="primary" routerLink="/about" routerLinkActive="active">About</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
