<div class="grid-container">
  <div class="grid-item">
    <div>
      <img class="logo" src="assets/img/offirent.png" alt="">
    </div>
    <form (submit)="onSubmit()" #registerForm="ngForm">
      <mat-form-field class="text-field1" floatLabel="always">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="offiuser@gmail.com" name="email" type="email" required
               [(ngModel)]="registerData.email">
      </mat-form-field>
      <div class="grid-container">
        <div class="grid-item">
          <mat-form-field class="text-field_first_name" floatLabel="always">
            <mat-label>Nombre(s)</mat-label>
            <input matInput name="firstName" type="text" required [(ngModel)]="registerData.firstName">
          </mat-form-field>
        </div>
        <div class="grid-item">
          <mat-form-field class="text-field_last_name" floatLabel="always">
            <mat-label>Apellidos</mat-label>
            <input matInput name="lastName" type="text" required [(ngModel)]="registerData.lastName">
          </mat-form-field>
        </div>
      </div>
      <div class="grid-container">
        <div class="grid-item">
          <mat-form-field class="text-field_first_name" floatLabel="always">
            <mat-label>DNI</mat-label>
            <input matInput name="identification" type="number" required [(ngModel)]="registerData.identification">
          </mat-form-field>
        </div>
        <div class="grid-item">
          <mat-form-field class="text-field_last_name" floatLabel="always">
            <mat-label>Numero de celular</mat-label>
            <input matInput name="phone" type="number" required [(ngModel)]="registerData.phone">
          </mat-form-field>
        </div>
      </div>
      <mat-form-field class="text-field2" floatLabel="always">
        <mat-label>Contraseña</mat-label>
        <input matInput name="password" type="password" [(ngModel)]="registerData.password">
      </mat-form-field>
      <button class="btn_register">Registrate</button>
    </form>
    <button routerLink="/login" class="btn_register" mat-raised-button>¿Ya tienes una cuenta?</button>
  </div>
  <div class="grid-item right_banner">
    <div class="right-form">
      <p class="welcome_title">Bienvenido a</p>
      <h1 class="offirent_title">OffiRent</h1>
      <p class="register_title">Registrate</p>
    </div>
  </div>
</div>





